[user]
	name = ''
	email = ''
[color]
	ui = true
[push]
	default = simple
[alias]
	co = checkout
  cm = commit
  st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	last = log -1 HEAD
	unstage = reset HEAD --
[core]
	editor = vim -w
	pager = less -+$LESS -FRX
	excludesfile = /home/peng/.gitignore_global
[http]
	postBuffer = 524288000
[merge]
	tool = vimdiff
